extends layout

block content
  .container
    if user
      .col-sm-3.col-xs-0
      .col-sm-6.col-xs-12
        .post-author
          .user-main-info.clearfix
          .pull-left
            img.img-responsive.img-circle(src=`${user.avatar}`)
          .pull-right
            h4= user.name
            h5= user.description

  .container
    .col-sm-2.col-xs-0
    .col-sm-8.col-xs-12
      h1= post.title
      .post-article !{post.article}
      .margin-sm
  
  .container
    .col-sm-8.col-xs-12
    .col-sm-4.col-xs-12
      a(href="/post/submit")
        button.btn.btn-success.pull-right Comment

  if post.comments 
    .container 
      .col-sm-3.col-xs-0
      .col-sm-6.col-xs-12
        each comment in post.comments
          .comment.clearfix
            .panel.panel-default
              .panel-heading
                h4= comment.user.name
              .panel-body
                h5= comment.description